.navDivsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.navLinkHomeContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navLinkHome {
    color: #965fd4;
    font-weight: 800;
    font-size: x-large;
}

.navLinkHomeImg{
    height: 90px;
    width: auto;
}

.position{
    position: relative;
}

.navLinkTittleOne{
    color: #965fd4;
}

.navLinkTittleTwo{
    color: #8bd450;
}

.navLinkHomeContainer:hover .navLinkTittleOne{
    text-shadow: 3px 3px 0px rgba(139,212,80,1);
    translate: -3px -3px;
}

.navLinkHomeContainer:active .navLinkTittleOne{
    text-shadow: 1px 1px 0px rgba(139,212,80,1);
    translate: 1px 1px;
}