.navDivContainer{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);

}

.navTittle{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.buttonNav{
  font-size: medium;
  font-weight: 700;

  padding: 1rem;

  cursor: pointer;

  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;

  border-radius: 10px;

  transition:all 0.1s linear;
}

.buttonNav:hover {  
  -webkit-box-shadow: 5px 5px 0px -1px  rgb(30, 149, 247);
  -moz-box-shadow: 5px 5px 0px -1px  rgb(30, 149, 247);
  box-shadow: 5px 5px 0px -1px  rgb(30, 149, 247);
  translate: -2px -2px;
}

.buttonNav:active {
  -webkit-box-shadow: 1px 1px 0px 1px  rgb(30, 149, 247);
  -moz-box-shadow: 1px 1px 0px 1px  rgb(30, 149, 247);
  box-shadow: 1px 1px 0px 1px  rgb(30, 149, 247);
  translate: 1px 1px;
}