:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-size: large;

  color-scheme: light dark;
  color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  background-image:url("./imgs/cieloconubesestiloanime.png");
   background-repeat:repeat;
  background-position:center;
  background-size:cover;
}

body{
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 10px;

  background-color: transparent;

  font-size: medium;
  font-weight: 600;
  color: rgb(255, 255, 255);

  cursor: pointer;

  height: 50px;

  transition: all 0.1s linear;
}

.button:hover {  
  -webkit-box-shadow: 5px 5px 0px -1px  rgb(30, 196, 247);
  -moz-box-shadow: 5px 5px 0px -1px  rgb(30, 196, 247);
  box-shadow: 5px 5px 0px -1px  rgb(30, 196, 247);
  translate: -2px -2px;
}

.button:active {
  -webkit-box-shadow: 1px 1px 0px 1px  rgb(30, 196, 247);
  -moz-box-shadow: 1px 1px 0px 1px  rgb(30, 196, 247);
  box-shadow: 1px 1px 0px 1px  rgb(30, 196, 247);
  translate: 1px 1px;
}

.notShow{
  display:none;
}

.show{
  display:grid;
}