.seriesDivContainer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #965fd4;
}

.seriesNameDivContainer {
    display: flex;
    justify-content: space-between;
}

.buttonWatchSeason {
    width: 40px;
    height: 50px;
}

.seriesCapsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seriesbr {
    background-color: rgb(54, 54, 54);
    width: 95%;
    height: 1px;
}

.buttonWatchCaps {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.show {
    display:inline-flex;
}

.notShow {
    display: none;
}

.arrowDown {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid #965fd4;
}

.imgCheckCaps{
    height: 30px;
    width: 30px;
}

.capsButtons{
    height: 50px;
    width: 50px;
}
