.messageDivContainer{
height: 100%;
width: 100%;

display: flex;
align-items: center;
justify-content: center;
}

.messageContainer{
  border: solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.logoGit{
  height: 50px;
  width: 50px;
}