.capsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkboxLabel {
  display: flex;
  cursor: pointer;
}

.checkInput {
  display: none;
}

.customInput {
  border: solid #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: transparent;

  font-size: medium;
  font-weight: 700;

  cursor: pointer;

  height: 40px;
  width: 40px;
}

.checkImage {
  width: 35px;
  height: 35px;
  display: none;
}

.checkInput:checked ~ .customInput .checkImage {
  display: inline;
}

.checkInput:checked ~ .customInput .inputText {
  display: none;
}
