.generalHomeDivCOntainer {
  margin-top: 4rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.newSerieDivContainer{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 0px;
  border-radius: 0px 0px 16px 16px;
}

.newSerieFormTittleContainer {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}

.newSerieFormInputs {
  display: flex;
  justify-content: space-evenly;
}

.serieContainer {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  margin: 2rem;

  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}