.logInDivContainer{
  max-height: 1080px;
  max-width: 1920px;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInContainer{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;

  border-top: solid white 3px;
}