.singInDivContainer{
    background-color: rgba(31, 31, 31, 0.555);
    color:#965fd4;
    border: solid #965fd4;

    height: 400px;
    width: 400px;
}

.errorMsg{
    border: solid red;
    background-color: rgba(253, 81, 81, 0.582);
    color: white;
    justify-content: center;
    align-items: center;
}